.modifiedtable>tbody>tr:nth-child(odd){
    background-color: lightgray;
  }
  .modifiedtable>tbody>tr:nth-child(even){
    background-color: white;
  }
  
  .flash{
    display: inherit;
    position: fixed;
    bottom: 2%;
    right: 2%;
    width: 20%;
  }

  .flash-done{
    display: none;
  }

