.label-txt {
    position: absolute;
    top: -1em;
    padding: 0.6em;
    font-family: sans-serif;
    font-size: .8em;
    letter-spacing: 1px;
    color: rgb(120,120,120);
    transition: ease .3s;
  }
  
.error-txt {
    color: red;
    position: absolute;
    top: -0.25em;
    right: -1em;
    padding: 0.6em;
    font-family: sans-serif;
    font-size: .8em;
    letter-spacing: 1px;
    color: red;
    transition: ease .3s;
  }
    
  .input {
    width: 100%;
    padding: 0.6em;
    background: transparent;
    border: none;
    border-bottom: 0.01em solid grey;
    outline: none;
    margin-top: 0.5em;
  }
  
  .mt-4-5{
      margin-top: 1.8em;
  }
  
  .input:focus{
      border-bottom: 0.01em solid blue;
  }
  .label-active {
    top: -2.5em;
    color: blue;
  }
  
  i { 
      vertical-align: middle;
  }
  