.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    overflow: hidden;
    min-width: 250px;
    max-width: 250px;
    background: #E6E6FA;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

.menu-regular{
	background-color: #E6E6FA;
	font-size: 1.25em;
	font-family: serif;
	color: black;
	text-align: center;
	border: none;
}

.menu-regular:hover{
	background-color:  #E6E6FA;
}

.menu-regular:focus{
    background-color:   #9370DB; 
}

.menu-active{
	background-color: #9370DB;
}


.link-regular{
    text-decoration: none;
    background-color: transparent;
}

.link-regular:hover {
    text-decoration: none;
    background-color: transparent;
}

.link-regular:active{
    background-color: red;
}

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

.nav-color{
    background-color: #BA55D3;
    box-shadow: 0 0 8px 0 gray;
}

 .btn:focus{
    box-shadow:none !important;
}

.nav-link{
    color: black;
}
  
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}