table { width:250px;table-layout:fixed; }
table tr { height:1em;  }
.cl {text-overflow:" [...]"; overflow:hidden; white-space:nowrap;margin-right: 2em; } 
.ans{
    font-size: 1.25em;
    font-weight: 500;
    margin-left: 0.2em;
}
.sp{
    margin-left: 5em;
}
.first{
    width: 67%
}
.second{
    width: 12%
}
.third{
    width: 9%;
}
.fourth{
    width: 13%;
}
.first1{
    width: 70%
}
.second1{
    width: 13%
}
.third1{
    width: 11%;
}
.forth{
    width:8%;
}
.color1{
    color: green;
}
.color2{
    color: orange;
}
.color3{
    color: red;
}