table { width:250px;table-layout:fixed; }
table tr { height:1em;  }
.cl {text-overflow:" [...]"; overflow:hidden; white-space:nowrap;margin-right: 2em; } 
.ans{
    font-size: 1.25em;
    font-weight: 500;
    margin-left: 0.2em;
}
.sp{
    margin-left: 5em;
}
.first{
    width: 78%
}
.second{
    width: 12%
}
.third{
    width: 10%;
}
